@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {}

::-webkit-scrollbar {
    display: none;
}

:root {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html {
    height: 100%;
}

body {
    font-family: 'Barlow', sans-serif;
    min-height: 100%;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

input,
textarea {
    outline: none;
    border: none;
    resize: none;
}

li {
    list-style: none;
}

p {
    font-family: "Open Sans", sans-serif;
}

section:not(.banner) {
    padding-top: 120px !important;
}

.container {
    max-width: 1070px;
    padding: 0 20px;
    margin: 0 auto;
}

header {
    inset: 0 0 auto 0;
    z-index: 20;
    position: fixed;
    padding: 25px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    /* font-family: 'Yatra One', cursive; */
    font-weight: 700;
    letter-spacing: 2px;
    color: #ffffff;
    font-size: 30px;
}

.logo svg {
    max-width: 60px;
}

nav {
    display: flex;
}

.menu {
    display: flex;
    align-items: center;
    gap: 35px;
}

.menu li a {
    color: #ffffff;
    font-weight: 600;
    transition: all .3s ease;
}

.menu li:last-child a {
    background: #fb503b;
    padding: 12px 30px;
    border-radius: 50px;
}

#nava:hover {
    color: #fb503b !important;
}

.active {
    color: #fb503b !important;
}

.menu li:last-child a.active {
    color: #ffffff !important;
}

.banner {
    height: 100vh;
    background: url("../images/header.jpg");
    color: #ffffff;
}

.banner__row {
    height: 100%;
    align-items: center;
}

.banner .container,
.about {
    display: flex;
}

.col-6 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner__row .col-6:last-child {
    align-items: center;
}

.banner__row h1 {
    font-size: 65px;
    margin-bottom: 20px;
}

.banner__row h1 span {
    font-size: 30px;
    font-weight: 600;
}

.banner__row h2 {
    font-size: 22px !important;
    font-weight: 600;
}

.banner__row p {
    margin: 25px 0 30px 0;
}

.banner__button {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 18px;
}

.banner__button a {
    color: #ffffff;
    transition: all .3s ease;
    font-weight: 600;
}

.banner__button a:first-child {
    background: #142eb5;
    padding: 12px 35px;
    border-radius: 50px;
    color: #ffffff;
}

.banner__button a:first-child:hover, .about a:hover {
    background-color: #fb503b;
}

.profile {
    width: 66%;
    height: 55%;
    position: relative;
}

.profile img {
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
    width: 100%;
    height: 100%;
}

.social {
    width: 70px;
    height: 70px;
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.social img {
    width: 40px;
    height: 40px;
}

.social_mail {
    top: -25px;
    right: -25px;
}

.social_git {
    top: 25px;
    left: -25px;
}

.social_in {
    bottom: 25px;
    right: -25px;
}

.soft_skills .row,
.experience .row {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 70px;
}

.col-4 {
    height: 100%;
}

.card__head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #54545f;
}

.card__head img {
    height: 60px;
    width: 60px;
}

.title span {
    color: #fb503b;
    font-size: 16px;
}

.title h3 {
    font-size: 22px;
}

.about {
    padding: 180px 20px 0 20px;
    gap: 40px;
}

.about_images {
    position: relative;
}

.about img {
    border-radius: 12px;
}

.about_images img:first-child {
    filter: saturate(1.17);
}

.about_2 {
    width: 300px;
    position: absolute;
    top: 65%;
    left: -20%;
}

.heading h3 {
    font-size: 20px;
    color: #fb503b;
}

.heading h1 {
    font-size: 35px;
    padding-bottom: 28px;
}

.about p {
    color: #54545f;
}

.about .col-6 p:nth-child(4) {
    padding: 32px 0 42px 0;
}

.about a {
    background: #142eb5;
    padding: 12px 35px;
    border-radius: 50px;
    color: #ffffff;
    font-weight: 600;
    width: max-content;
    transition: all 0.3s ease;
}

.experience {
    padding-top: 180px;
}

.experience h1,
.portfolio h1,
.skills h1 {
    padding-bottom: 85px;
}

.experience .col-4 {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px 30px;
    border-radius: 12px;
}

.experience .card__head {
    border-bottom: 0;
    margin-bottom: 0;
}

.experience__title {
    display: grid;
    gap: 6px;
}

.experience__title h3 {
    color: #000000;
}

.experience__title span:first-of-type {
    font-style: italic;
}

.experience__title span:last-of-type {
    font-size: 12px;
}

.portfolio h3 {
    font-size: 20px;
    color: #fb503b;
}

.portfolio h1,
.portfolio h3,
.experience h1,
.experience>h3 {
    text-align: center;
}

.projects {
    display: grid;
    gap: 60px;
}

.portfolio .cards {
    width: 100%;
    height: 480px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
}

.card {
    height: 100%;
    width: 100%;
    display: grid;
    align-content: center;
}

.card img {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
    transition: all .3s ease;
}

.cards:hover .card img {
    transform: scale(1.05);
}

.cards::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: 20px;
    background: linear-gradient(80deg, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 82%);
}

.card_content {
    position: relative;
    width: 80%;
    z-index: 10;
    margin: auto;
}

.card_content h4 {
    color: #fb503b;
    font-size: 18px;
    font-weight: 600;
    max-width: 360px;
}

.card_content h2 {
    color: #ffffff;
    font-size: 36px;
    max-width: 360px;
    margin: 20px 0;
}

.card_content a {
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
}

.card_content i {
    color: #fb503b;
    top: -1px;
    margin-left: 10px;
}

.card_content p {
    display: none;
    padding-top: 6px;
}

.cards:nth-child(even) .card_content {
    width: 90%;
    display: grid;
    justify-content: end;
}

.cards:nth-child(even)::after {
    background: linear-gradient(280deg, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 82%);
}

.skills {
    text-align: center;
}

.skills .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 140px;
}

.skills .col-6,
.domain .col-6 {
    width: 100%;
}

.skills p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}

.progress-container {
    width: 100%;
}

.progress-container,
.progress {
    background: #dee1e6;
    border-radius: 5px;
    position: relative;
    height: 8px;
}

.progress {
    background-color: #142eb5;
    width: 0;
    transition: width 0.6s linear;
}

.percentage {
    width: max-content;
    position: absolute;
    top: -32px;
    color: #fb503b;
    font-size: 18px;
    font-weight: 600;
    left: 0;
    transition: left 0.6s linear;
}

.domain .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    border-radius: 20px;
    overflow: hidden;
    color: #ffffff;
}

.domain .col-6 {
    padding: 100px 60px 65px;
    transition: all .3s ease;
}

.domain .col-6:first-child {
    background: #6E7FD1;
}

.domain .col-6:last-child {
    background: #343C55;
}

.domain .col-6:hover {
    background: #fb503b;
}

.domain img {
    width: 60px;
}

.domain h3 {
    font-size: 31px;
    margin: 20px 0;
    font-weight: 600;
}

.domain p {
    line-height: 32px;
}

.contact {
    background: #0B1C77;
    padding: 110px 100px;
    border-radius: 20px;
    margin-block: 120px 60px;
}

.contact h1 {
    color: #ffffff;
}

.contact .row {
    display: flex;
    gap: 100px;
}

.contact__form {
    width: 60%;
    display: grid;
    row-gap: 20px;
}

.contact__info {
    width: 40%;
}

.contact__form input,
.contact__form textarea {
    background-color: #fff;
    border-radius: 5px;
    padding: 25px;
    font-size: 18px;
}

.contact__form textarea {
    font-family: 'Arial';
}

.contact__form button {
    padding: 16px 0;
    width: 100%;
    font-size: 18px;
    color: #ffffff;
    background: #fb503b;
    font-weight: 600;
    border-radius: 5px;
    transition: all .3s ease;
}

.contact__form button:hover {
    background: #ffffff;
    color: #000000;
}

.contact__info {
    color: #ffffff;
}

.contact__info p {
    color: #b7bac5;
}

.contact__card {
    display: flex;
    gap: 25px;
    margin-bottom: 25px;
}

.contact__icon {
    width: 65px;
    min-width: 60px;
    height: 65px;
    background-color: #6E7FD1;
    border-radius: 100%;
    display: grid;
    place-items: center;
}

.contact__icon i {
    font-size: 22px;
}

.contact__data {
    display: grid;
    align-content: center;
}

.contact__data h4 {
    font-size: 21px;
    margin-bottom: 6px;
    font-size: 600;
}

.contact__data a {
    color: #b7bac5;
}

footer {
    text-align: center;
    padding: 30px 0;
    color: #b7bac5;
    background: #343c55;
}

.toggle {
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
    display: none;
}

.toggle span {
    height: 4px;
    background: #fb503b;
    width: 100%;
    display: block;
    transition: all 0.3s ease-in-out;
    position: relative;
    transition: 0.5s;
    border-radius: 50px;
}

.toggle.open .line:nth-child(2) {
    opacity: 0;
}

.toggle.open .line:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
}

.toggle.open .line:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
}

@media screen and (max-width: 1280px) {
    .toggle {
        display: flex;
    }

    .menu {
        right: -800px;
        position: absolute;
        flex-direction: column;
        align-items: start;
        top: 74px;
        background: #ffffff !important;
        border-radius: 0 0 0 20px;
        padding: 50px;
        width: 30%;
        height: calc(100vh - 70px);
        transition: all 0.5s ease;
    }

    .menu.open {
        display: flex;
        right: 0;
    }

    .menu.open a {
        color: #000000 !important;
    }

    .banner {
        height: auto;
        padding-block: 120px 40px;
    }

    .about_images img:last-child {
        display: none;
    }

    .experience h1,
    .portfolio h1,
    .skills h1 {
        padding-bottom: 30px;
    }

    .skills .row {
        column-gap: 60px;
    }

    .soft_skills {
        padding-inline: 60px;
    }
}

@media screen and (max-width: 820px) {
    .banner__row {
        flex-direction: column-reverse;
    }

    .banner__row .col-6 {
        width: 60%;
        margin: 0 auto;
        text-align: center;
    }

    .banner__row .col-6:last-child {
        width: 30%;
    }

    .banner__button {
        display: flex;
        justify-content: center;
    }

    .profile {
        width: 100%;
        height: 70%;
    }

    .about {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-inline: 70px;
    }

    .about .col-6:last-child {
        width: 60%;
        padding-top: 0;
    }

    .soft_skills {
        display: grid;
        place-items: center;
    }

    .domain .col-6 {
        padding: 40px;
    }

    .domain p {
        line-height: 26px;
    }

    .contact {
        width: 90%;
    }

    .contact .row {
        flex-direction: column;
        align-items: center;
    }

    .contact__form,
    .contact__form input,
    .contact__info {
        width: 100%;
    }
}

@media screen and (max-width: 680px) {
    section:not(.banner) {
        padding-top: 70px !important;
    }

    p,
    a {
        font-size: 14px;
    }

    h1,
    h2 {
        font-size: 30px !important;
    }

    .logo a {
        font-size: 25px;
    }

    .menu {
        width: 100%;
        color: #000000;
    }

    .banner__row h1 {
        font-size: 40px !important;
    }

    .banner__row h1 span {
        font-size: 22px;
    }

    .banner .col-6 {
        width: 100%;
    }

    .banner__row .col-6:last-child {
        width: 60%;
    }

    .social {
        height: 50px;
        width: 50px;
    }

    .social img {
        height: 30px;
        width: 30px;
    }

    .about {
        padding-inline: 0;
    }

    .about .col-6 {
        width: auto;
        padding: 0 30px;
    }

    .about .col-6:last-child {
        width: 100%;
    }

    .portfolio .cards {
        height: 300px;
    }

    .skills .row {
        grid-template-columns: 1fr;
        place-items: center;
        padding: 0 20px;
    }

    .contact {
        padding: 30px 30px;
    }

    .contact__icon {
        min-width: 40px;
        width: 50px;
        height: 50px;
    }

    .soft_skills {
        padding: 40px 20px;
    }

    .experience .row,
    .soft_skills .row,
    .contact .row {
        gap: 60px;
    }

    .contact {
        margin-top: 60px;
    }

    .contact__card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media print {

    header,
    .toggle,
    .banner__row span,
    .banner__button,
    .portfolio__button,
    .card__head img,
    .card img,
    .card a,
    .domain img,
    .contact__form,
    footer,
    .contact h3,
    .contact h1,
    .skill_none {
        display: none;
    }

    section:not(.banner) {
        padding-top: 50px !important;
    }

    .experience, .portfolio, .domain {
        page-break-after: always;
    }

    p,
    a {
        font-size: 14px;
    }

    h1,
    h2 {
        font-size: 30px !important;
    }

    .logo a {
        font-size: 25px;
    }

    .menu {
        width: 100%;
        color: #000000;
    }

    .banner__row h1 {
        font-size: 30px !important;
        margin-bottom: 10px;
    }

    .banner__row p {
        margin: 16px 0 0 0;
    }

    .banner {
        height: auto;
        padding-block: 40px;
        position: relative;
    }

    .profile a {
        display: none;
    }

    .profile {
        border-radius: 50%;
        overflow: hidden;
        width: 200px;
        height: 200px;
    }

    .banner__row .col-6:first-child {
        width: 70%;
        margin-top: -40px;
    }

    .banner__row .col-6:last-child {
        width: 30%;
    }

    .about {
        justify-content: center;
    }

    .about .col-6:first-child {
        display: none;
    }

    .about .col-6:last-child {
        width: 100%;
    }

    .about .col-6 p:nth-child(4) {
        padding: 10px 0 0 0;
    }

    .heading h1,
    .heading h3 {
        text-align: left;
    }

    .heading h1 {
        padding-bottom: 30px;
    }

    .soft_skills .row,
    .experience .row {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .experience .col-4 {
        box-shadow: none;
        padding: 0;
    }

    .projects {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .portfolio .cards {
        height: auto;
        width: 100%;
        border-radius: 0;
    }

    .cards::after {
        display: none;
    }

    .card {
        width: max-content;
        align-content: flex-start;
    }

    .card__head {
        padding-bottom: 6px;
    }

    .card_content {
        justify-content: start;
        width: 100% !important;
    }

    .card_content h2 {
        color: #000000;
        font-size: 16px !important;
        margin: 6px 0;
        font-weight: 600;
    }

    .card_content p {
        display: block;
        width: 600px;
        margin-block: 10px;
    }

    .skills .row {
        gap: 30px 40px;
    }

    .domain .col-6 {
        padding: 20px;
        transition: all .3s ease;
    }

    .contact {
        padding: 20px;
        margin-block: 40px;
        border-radius: 0;
    }

    .contact__info {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .contact__card {
        gap: 10px;
    }

    .contact__icon {
        min-width: 40px;
        width: 40px;
        height: 40px;
    }
}